.shpe-logo {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%);

  height: 500px;
}

.test {
  width: 100%;
  height: 100vh;
  background: rgb(0,31,91);
  background: linear-gradient(156deg, rgba(0,31,91,1) 5%, rgba(141,192,228,1) 100%);
  z-index: -1;
}

.description {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%);

  font-size: 40px;
  color: white;
}

.google-button {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%);
}

.google-button:hover {
  opacity: 0.5;
  transition: ease-in-out 0.15s;
}

.return-home {
  position: fixed;
  left: 20px;
  bottom: 20px;

  background-color: gray;
  padding: 10px;
  border-radius: 5px;
  color: white;

  text-decoration: none;
}

.return-home:hover {
  opacity: 0.75;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}