/*
.about-body {
  margin-top: 80px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  height: 100vh;
  margin-left: 300px;
  margin-right: 300px;
}
*/

.about-body {
  display: flex;
  padding: 20px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  height: 25vh;
  overflow: hidden
}

.flex-container{
  border-width: 5px;
  border-color: black;
  border-style: solid;
  flex: 1;
  font-size: auto;

}

.flex-container:first-child{
  border-width: 5px;
  border-color: black;
  border-style: solid;
  margin-right: 20%;
  font-size: auto;

}

#about-body-header{
  padding-bottom: 15px;
  font-size: 1.8em;
}

#about-body-p{
  font-size: 1.2em;
}

.about-head {
  margin-top: 80px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  height: 50vh;
  display: flex;
}

.about-head h1{
  align-self: flex-end;
  font-size: 3.5em;
  margin-left: 15px;
  bottom: 0;
}

.category {
  margin-top: 20px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  height: 100vh;
  margin-left: 300px;
  margin-right: 300px;
}