.about-body {
  display: flex;
  padding-left: 15%;
  padding-right: 15%;

  overflow: hidden;
  margin-top: 40px;
}

#top-page {
  margin-bottom: 40px;
}

.flex-container{
  font-size: 20px;
  /* text-align: center; */
}

#about-body-header{
  padding-bottom: 15px;
  font-size: 1.8em;
}

#about-body-p{
  font-size: 1.2em;
}

.about-head {
  margin-top: 130px;
  display: flex;
  justify-content: center;
}

.about-head h1{
  align-self: flex-end;
  font-size: 3.5em;
  margin-left: 15px;
  bottom: 0;
}

.category {
  margin-top: 20px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  height: 100vh;
  margin-left: 300px;
  margin-right: 300px;
}

.divider {
  margin-top: 10px;
  border: 2px solid #fd652f;
  opacity: 0.5;
  width: 90%;
  margin-left: 5%;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  padding-left: 15%;
  padding-right: 15%;
  align-items: center;
  margin-bottom: 40px;
}

.history-img {
  width: 400px;
  height: 300px;

  object-fit: cover;

  border-radius: 10px;
}

#advisor {
  object-position: 0px 5%;
}

.about-title {
  margin-left: 15%;
}

.description {
  width: 100%;
  margin-top: 10px;
  font-size: 1.2vw !important;
  padding-right: 20%;
}

.right-image {
  height: 300px;
  width: 500px;
  border-style: solid;
}

.accordian-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.initiative-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: #fd652f;
}

.initiative-image {
  width: 300px;
  object-fit: cover;
  border-radius: 10px;
  border-style: solid;
  border-color: #ff885d;
}

.vert-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 30px;
}

#reverse {
  flex-direction: row-reverse;
}

.carousel-container {
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {
  #mission {
    margin-right: 25px;
  }

  #vision {
    margin-left: 25px;
  }

  .initiative-image {
    margin-top: 20px;
  }

  .carousel-container {
    margin-top: 70px;
    width: 70%;
  }

  .horizontal-container {
    flex-direction: column !important;
  }

  .vert-description {
    flex-direction: column !important;
  }

  .about-title, h3, .description {
    text-align: center;
  }

  #second {
    margin-top: 50px !important;
  }

  .about-title {
    margin-left: 0px;
    margin-top: 150px !important;
    font-size: 45px !important;
  }

  .description {
    font-size: 2vw !important;
    padding-right: 0px;
  }

  .flex-container {
    font-size: 3vw;
    text-align: center;
  }

  .vert-description div {
    text-align: center;
  }
}