.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;

  position: absolute;
  top: 180px;

  margin-left: 50%;
  transform: translate(-50%);
}

.category {
  width: 130px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  border-radius: 10px;
  background-color: black;
  text-align: center;
}

#gm {
  background-color: #D33A02;
}

#prof {
  background-color: #001F5B;
}

#outreach {
  background-color: #FD652F;
}

#shpetinas {
  background-color: #0070C0;
}

#fundraiser {
  background-color: #8B0000;
}

#social {
  background-color:  #72A9BE;
}
 
.outer {
  margin-left: 50%;
  transform: translate(-50%);
}

#calendar {
  margin-top: 130px;
  height: 100%;
}

.fc-toolbar-chunk {
  margin-bottom: 15px;
}

.fc-event-time {
  font-weight: lighter !important;
  text-decoration: underline;
}

.fc-event-title {
  font-weight: 500;
}

.fc-daygrid-day-number {
  font-weight: 500;
}