.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 5px;

  position: absolute;
  top: 270px;

  margin-left: 50%;
  transform: translate(-50%);
}

.category {
  width: 110%;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  border-radius: 10px;
  background-color: black;
  text-align: center;
  white-space: nowrap;
}

#gm {
  background-color: #D33A02;
}

#general {
  background-color: #001F5B;
}

#solar-boat {
  background-color: #FD652F;
}

#shpetinas {
  background-color: #0070C0;
}

#fundraiser {
  background-color: #8B0000;
}

#social {
  background-color:  #72A9BE;
}
 
.outer {
  margin-left: 50%;
  transform: translate(-50%);
}

#calendar {
  margin-top: 30px;
  height: 100%;
}

.fc-toolbar-chunk {
  margin-bottom: 20px;
}

.fc-toolbar-title {
  font-weight: 800;
  color: black;
}


.fc-event-time {
  font-weight: lighter !important;
  text-decoration: underline;
}

.fc-event-title {
  font-weight: 500;
}

.fc-daygrid-day-number {
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.fc-button {
  background-color: #FD652F !important;
  border-radius: 15px !important;
  border: none !important;
}

.modal {
  z-index: 9999;
}

.top-space {
  margin-top: 10px;
}

.title {
  margin-top: 130px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: black;
  font-family: Roboto;
}

.divider {
  margin-top: 10px;
  border: 2px solid #fd652f;
  opacity: 0.5;
  width: 90%;
  margin-left: 5%;
}
