* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial !important;
}

.contact-us {
  background-color: #626366;
  color: white;
  height: 250px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.top-footer {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 30px;
  margin-bottom: 10px;
}

.middle-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bottom-footer {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.social-icons {
  height: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

.socials {
  position: relative;
}
 
.socials .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  left: 40px;
  bottom: -15px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.socials:hover .tooltip {
  transition: ease-in 0.5s;
  opacity: 1;
}