* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-us {
  background-color: black;
  color: white;
  height: 100px;
  margin-top: 20px;
}