.header {
  height: 60px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0px 2px 5px black;
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px
}

.logo {
  height: 50px;
  padding-left: 10px;
  cursor: pointer;
}

.logo:hover {
  height: 52px;
  opacity: 0.75;
  transition: all 0.3s ease;
}

.right-side {
  flex: 0.25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}

.header-items {
  cursor: pointer;
  padding: 5px;
  color: #001f5b;
  font-size: 20px;
  text-decoration: none;
  padding: 0 1rem;
  /* text-shadow: 1px 1px 1px #001f5b; */
}

.header-items:hover {
  color: #0070c0;
  transition: all 0.3s ease;
  font-size: 21px;
}

#button {
  background: #001f5b;
  background: -webkit-linear-gradient(to right, #72a9be, #0070c0, #001f5b);
  background: linear-gradient(to right, #72a9be, #0070c0, #001f5b);
  border: solid;
  border-width: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 4px 1rem;
  margin-left: 0.5rem;
  text-shadow: 2px 2px 4px black;
}

#button:hover {
  font-size: 21px;
  border-width: 3px;
  opacity: 0.75;
}
