.header {
  height: 90px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0px 2px 5px black;
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px
}

.logo {
  height: 30px;
  padding-left: 10px;
  cursor: pointer;
}

.logo:hover {
  height: 31px;
  opacity: 0.75;
  transition: all 0.3s ease;
}

.right-side {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}

.header-items {
  cursor: pointer;
  padding: 5px;
  color: #001f5b;
  font-size: 15px;
  text-decoration: none !important;
  padding: 0 1rem;
}

.header-items:hover {
  color: #0070c0;
  transition: all 0.3s ease;
  font-size: 16px;
}

.indicator {
  text-decoration: #72A9BE overline underline;
  text-decoration-thickness: 2px;
}

#button {
  background: #001f5b;
  background: -webkit-linear-gradient(to right, #72a9be, #0070c0, #001f5b);
  background: linear-gradient(to right, #72a9be, #0070c0, #001f5b);
  border: solid;
  border-width: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 25px;
  cursor: pointer;
  padding: 5px;
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding: 4px 1rem;
  margin-left: 0.5rem;
  text-shadow: 2px 2px 4px black;
}

#button:hover {
  font-size: 16px;
  border-width: 3px;
  opacity: 0.75;
}

@media screen and (max-width: 650px) {
  .header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .right-side {
    flex-direction: column;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;

  }

  .right-side.active {
    background-color: white;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 42vh;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }

  .header-items {
    text-align: center;
    padding: 2.5rem;
    width: 100%;
    text-decoration: none;
  }

  #button {
    justify-content: center;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar_toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}