.ucr-pic {
  width: 100%;
  height: 100%;
  opacity: 0.85;
}

.ucr-container {
  position: relative;
}

.shpe-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.shpe-name, .ucr-name {
  color: white;
  text-shadow: 3px 3px black;
}

.shpe-name {
  font-size: 50px;
}
.shpe-text {
  font-size: 35px;
}

.group-photo {
  margin-left: 300px;
  margin-right: 300px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  height: 100vh;
}
 
.outer {
  margin-left: 50%;
  transform: translate(-50%);
}

#calendar {
  margin-top: 130px;
  height: 100%;
}

.fc-toolbar-chunk {
  margin-bottom: 5px;
}

.fc-event-time {
  font-weight: lighter !important;
  text-decoration: underline;
}

.fc-event-title {
  font-weight: 500;
}

.fc-daygrid-day-number {
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.fc-button {
  background-color: #FD652F !important;
  border-radius: 15px !important;
  border: none !important;
}

.modal {
  z-index: 9999;
}

.top-space {
  margin-top: 10px;
}