
.title {
  margin-top: 130px;
  text-align: center;
  font-weight: bold;
  color: black;
  font-family: Roboto;
}

.divider {
  margin-top: 10px;
  border: 2px solid #fd652f;
  opacity: 0.5;
  width: 90%;
  margin-left: 5%;
}

.flier {
  width: 50vw;
  margin-left: 50%;
  transform: translate(-50%);

  border-radius: 15px;
}

#top {
  margin-top: 50px;
}